@using WebApplication1.Models.Classes
@model List<Iletisim>
@{
    ViewBag.Title = "Mesajlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mesajlar</h2>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>


            <td>@x.ID</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td><a href="#" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }
</table>


